.locationDetailsClass{
    text-align: center;
    color: rgba(82, 3, 42, 0.527);
}


.forecast {
    margin: 0 10% 0 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(196, 225, 245, 0.39);
    border-style: solid;
    border-color: rgb(252, 212, 220);
    border-radius: 0.5em;
    padding-bottom: 10px;
    
}
/**
@media (min-width: 360px){
    body {
        font-size:1em;
    }
}*/

@media (max-width: 650px) {
    .forecastSummaries {
        display: block;
       }
    .FCClass {
       margin: 5%;
    }
}
