.forecastSummaries {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.FCClass {
    background-color: rgba(248, 205, 112, 0.589);
    border-radius: .5em;
    font-family: 'Lucida Grande', 'Lucida Sans';
    margin: auto;
    padding: 1%;
    text-align: center;
}

.FDClass {
    
    width: 30%;
    padding-top: .2%;
    padding-bottom: 2%;
    align-items: center;
    border: 2px dotted rgb(143, 118, 5);
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    align-items: center;
    text-align: center;

};

.forecast-summary-icon {
    text-align: center;
    color: rgb(197, 111, 111);  
    height: 2em !important;
    width: 2em !important;

}

.forecast-summary-date{
    font-weight: bold;
}

.searchForm {
    padding: 1%;
    text-align: center;    
}